<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row"><span>Forgot Password?</span></mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="form" (submit)="submit()">
    <div fxFlex fxLayout="columns">
      <mat-form-field appearance="fill" fxFlex class="full-width">
        <mat-label>Email</mat-label>
        <input class="w-100" matInput required autofocus>
      </mat-form-field>
    </div>
    <mat-dialog-actions align="center">
      <button mat-raised-button color="primary" type="submit">Send Email</button>
    </mat-dialog-actions>

  </form>
</mat-dialog-content>
