<div class="row">
  <div class="col-md-4 mx-auto">
      <div class="card">
          <div class="card-header">
              Registrarse
          </div>
          <div class="card-body">
              <form [formGroup]="loginForm" (submit)="signUp()">
                <mat-form-field appearance="outline"  class="full-width">
                  <mat-label> Correo Electronico </mat-label>
                  <input type="email" formControlName="username"  matInput [(ngModel)]="user.email" name="email" (keypress)="lentrasOnly($event)"
                  placeholder="Correo Electronico" maxlength="30" oninput="this.value = this.value.toLowerCase()" ngModel required autofocus>
                  <mat-error *ngIf="isValidField('username')">
                    {{getErrorMessage('username')}}
                  </mat-error>
                    </mat-form-field>

                   <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Contraseña</mat-label>
                    <input  [type]="hide ? 'password' : 'text'" formControlName="password" type="password"  matInput [(ngModel)]="user.password" name="password"  placeholder="Contraseña"
                    ngModel required maxlength="20">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  <mat-error *ngIf="isValidField('password')">
                    {{getErrorMessagePassword('password')}}
                  </mat-error>

                </mat-form-field>

                  <button class="btn btn-primary btn-block">
                      Registrar
                  </button>
              </form>
          </div>
      </div>
  </div>
</div>
