<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #113448;">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Añade tus productos lacteos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/photos">Mis productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/photos/new">Añadir un producto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>